<div class="row" style="min-height:90px;background:linear-gradient(#000000, #00001b 40%, #000000 60%);color:white;padding:10px;">
            <div class="col-md-4">
                <a title="GsmLot Trading Platform" href=""
                               target="_blank">BookingCar</a>
                &copy; 2015  All Rights Reserved
                <address>
                    <abbr title="Phone">Phone</abbr>: (212) 5 37 43 46 28<br/>
                    <abbr title="Skype">Skype</abbr>: www.bookingcar.ma<br/>
                    <abbr title="Email">Email</abbr>: <a href="mailto:info@bookingCar.ma">info@bookingcar.com</a>
                </address>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <ul>
                    <li><a href="" class="footer-element">Homepage</a></li>
                    <li><a href="" class="footer-element">Abouts us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a href="" class="footer-element">Contact us</a></li>
                    <li><a href="" class="footer-element">Our conditions</a></li>
                </ul>
            </div>
</div>
