{% extends 'IndexBundle:common:base.html.twig' %}
{% block contenu %}
<div class="row">
    <div class="col-md-4">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Rangtour</a></li>
            <li class="active">Gestion de parc auto</li>
        </ul>
    </div>
    <div  class="col-md-2 col-md-offset-5"> <img src="{{ asset('bundles/agence/images/rangtourlogo.png') }}" style="border-radius: 20px;width: 190px" alt="BookingCar" class="img-responsive" title="BookingCar.ma"/></div>

</div>
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal">
            <fieldset>
                <legend>Ajout de véhicule</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Marque</label>
                    <div class="col-md-8">
                        <input class="form-control" id="inputEmail"  type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Model</label>
                    <div class="col-md-8">
                        <input class="form-control" id="inputEmail"  type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-md-2 control-label">Catégorie</label>
                    <div class="col-md-8">
                        <select class="form-control" id="select">
                            <option>Standard</option>
                            <option>Economique</option>
                            <option>Monospace</option>
                            <option>Citadine</option>
                            <option>4*4</option>
                            <option>Luxe</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-md-2 control-label">Options</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Climatisation
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Siége Enfant
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> GPS
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Boite Automatique
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Carburant</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input name="optionsRadios" id="optionsRadios1" value="option1" checked="" type="radio">
                                Diesel
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
                                Essence
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-8">
                        <input class="form-control" id="inputNombre"  type="text">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-8">


        <h4>Liste de véhicules</h4>
        <div class="col-md-12 panel panel-standard" >
            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/clio.jpg') }}" class="img-responsive" width="200" title="clio"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/duster.jpg') }}" class="img-responsive" width="200" title="duster"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/logan.jpg') }}" class="img-responsive" width="200" title="logan"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/range.jpg') }}" class="img-responsive" width="200" title="range"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/clio.jpg') }}" class="img-responsive" width="200" title="clio"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/duster.jpg') }}" class="img-responsive" width="200" title="duster"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/logan.jpg') }}" class="img-responsive" width="200" title="logan"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/range.jpg') }}" class="img-responsive" width="200" title="range"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>
            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/clio.jpg') }}" class="img-responsive" width="200" title="clio"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/duster.jpg') }}" class="img-responsive" width="200" title="duster"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/logan.jpg') }}" class="img-responsive" width="200" title="logan"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

            <div class="col-md-3">
                <img src="{{ asset('bundles/index/images/range.jpg') }}" class="img-responsive" width="200" title="range"/>
                <a href="" class="col-md-offset-1"><span class="glyphicon glyphicon-edit" title="Modifier"></span></a>
                <a href=""><span class="glyphicon glyphicon-remove-circle" title="Supprimer"></span></a>
            </div>

        </div>


    </div>
    {% endblock %}


