{% extends 'IndexBundle:common:base.html.twig' %}
{% block contenu %}
        <div class="row">
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Rangtour</a></li>
                    <li class="active">Gestion des reservations</li>
                </ul>
            </div>
            <div  class="col-md-2 col-md-offset-5"> <img src="{{ asset('bundles/agence/images/rangtourlogo.png') }}" style="border-radius: 20px;width: 190px" alt="BookingCar" class="img-responsive" title="BookingCar.ma"/></div>

        </div>
        <div class="row">
            <div class="col-md-11">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Nom </th>
                    <th>Véhicule</th>
                    <th>Carburant</th>
                    <th>Options</th>
                    <th>Date départ </th>
                    <th>Date retour</th>
                    <th>Durée </th>
                    <th>Prix Total</th>
                    <th>Avance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Hamid AlAOUI</td>
                    <td>Ford Fiesta</td>
                    <td>Diesel</td>
                    <td>Automatique</td>
                    <td>12/05/2016</td>
                    <td>20/05/2016</td>
                    <td>8 jours</td>
                    <td>590 euro</td>
                    <td>25%</td>
                    <td><input type="checkbox"> Traité
                        <input type="checkbox"> Cloturé
                        <button type="submit" class="btn btn-default">Message</button></td>
                </tr>
                <tr>
                    <td>Jamal BOUZAYED</td>
                    <td>Seat Ibiza</td>
                    <td>Diesel</td>
                    <td>Siege enfant , GPS</td>
                    <td>15/05/2016</td>
                    <td>25/05/2016</td>
                    <td>10 jours</td>
                    <td>990 euro</td>
                    <td>25%</td>
                    <td><input type="checkbox"> Traité
                        <input type="checkbox"> Cloturé
                        <button type="submit" class="btn btn-default">Message</button></td>
                </tr>
                <tr class="info">
                    <td>Nabil DAHMANI</td>
                    <td>Ford Fiesta</td>
                    <td>Diesel</td>
                    <td>Automatique</td>
                    <td>14/05/2016</td>
                    <td>21/05/2016</td>
                    <td>7 jours</td>
                    <td>900 euro</td>
                    <td>25%</td>
                    <td><input type="checkbox"> Traité
                        <input type="checkbox"> Cloturé
                        <button type="submit" class="btn btn-default">Message</button></td>
                </tr>
                <tr class="warning">
                    <td>Jalal BENBRAHIM</td>
                    <td>Hyundai Accent</td>
                    <td>Essence</td>
                    <td> GPS</td>
                    <td>16/05/2016</td>
                    <td>22/05/2016</td>
                    <td>6 jours</td>
                    <td>790 euro</td>
                    <td>100%</td>
                    <td><input type="checkbox"> Traité
                        <input type="checkbox"> Cloturé
                        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="left" title="Envoyer un message"  data-content="entrer somthing">Message</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>

  {% endblock %}
